<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{settings.canonical}}">
    <meta property="og:url"  content="{{settings.canonical}}">
    <meta name="twitter:url" content="{{settings.canonical}}">
    <title>
      {{title}}
    </title>
    <meta property='og:title'  content='{{title}}'>
    <meta name='twitter:title' content='{{title}}'>
    {% if description %}
      <meta name="description" content="{{description}}"/>
      <meta property="og:description"  content="{{description}}">
      <meta name="twitter:description" content="{{description}}">
    {% endif %}
    {% if img %}
      <meta property="og:image"  content="{{img}}">
      <meta name="twitter:image" content="{{img}}">
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
    <meta property="og:site_name" content="{{settings.name}}">
    <meta property="og:type" content="website">
    <meta name="keywords" content="Web Developer, Midwest, ecommerce, shopify, shopify expert, shopify partner, freelance, Springfield">
  </head>
  <body>
    <main>
      {% include "./partials/navbar.html" %}

      {{ content | safe }}
    </main>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Business",
        "image": "{{settings.canonical}}/static/img/taylor_profile_sq.jpg",
        "name": "The Pages Media",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "117 Ridgeview Drive",
          "addressLocality": "Willard",
          "addressRegion": "MO",
          "postalCode": "65781",
          "addressCountry": "US"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 37.28971184334364,
          "longitude": -93.43314287358758
        },
        "url": "https://www.thepagesmedia.com",
        "telephone": "+14174239253"
      }
      </script>

    {% include "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>
    <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=Vq5WA2"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
    <script src="/static/js/mailto-lib.js"></script>
  </body>
</html>