@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1, .h1 {
  @apply text-4xl tracking-tighter text-center lg:text-7xl lg:leading-none;
}
h2, .h2 {
  @apply text-2xl mb-3 text-center lg:text-5xl leading-7 lg:leading-tight;
}
h3 {
  @apply text-2xl font-bold mb-3;
}
.promo-text {
  @apply text-lg lg:text-2xl text-center max-w-4xl;
}
.highlight {
  @apply bg-yellow-500 text-white px-2;
}
html {
  height: 100%;
}
html, body {
  background-color: #4a5568;
  color: #fff;
}
main {
  min-height: 100vh;
}
div#courses-template h1, div#accessibility-template h1  {
  @apply mb-10;
}
div#courses-template p, div#accessibility-template p  {
  @apply max-w-5xl text-center text-lg md:text-xl mb-8 mx-auto;
}
/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
